/* GENERAL */

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0 10%;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.container {
  border: 2px solid #A2A2A6;
  padding: 10px;
  margin: 10px auto;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  margin-top: 35px;
  margin-bottom: 10px;
}


/* COLOR PALETTE */

.color-palette {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.color-panel {
  width: 100%;
  height: 80px;
  margin: 2px;
  font-size: 16px;
}

.color-panel p {
  text-align: center; 
  color: #FFF;
}

/* Monochromatic Blue Palette */
.mono-blue-1 {
  background-color: #3C537A;
}
.mono-blue-2 {
  background-color: #C6D9FB;
}
.mono-blue-3 {
  background-color: #7AA9FA;
}
.mono-blue-4 {
  background-color: #616A7A;
}
.mono-blue-5 {
  background-color: #6187C7;
}

/* Monochromatic Green Palette */
.mono-green-1 {
  background-color: #00B9AE;
}
.mono-green-2 {
  background-color: #037171;
}
.mono-green-3 {
  background-color: #03312E;
}
.mono-green-4 {
  background-color: #02C3BD;
}
.mono-green-5 {
  background-color: #009F93;
}

/* Monochromatic Pink Palette */
.mono-pink-1 {
  background-color: #EC91D8;
}
.mono-pink-2 {
  background-color: #FFAAEA;
}
.mono-pink-3 {
  background-color: #FFBEEF;
}
.mono-pink-4 {
  background-color: #FFD3DA;
}
.mono-pink-5 {
  background-color: #E9D3D0;
}

/* Analogous Pink Palette */
.analogous-pink-1 {
  background-color: #F0AFBB;
}
.analogous-pink-2 {
  background-color: #DEB2E3;
}
.analogous-pink-3 {
  background-color: #FAB6E5;
}
.analogous-pink-4 {
  background-color: #E1B6FA;
}
.analogous-pink-5 {
  background-color: #C6AFF0;
}

/* Facebook */
.black-text p {
  color: #000;
}
.facebook-1 {
  background-color: #FFFFFF;
}
.facebook-2 {
  background-color: #F7F7F7;
}
.facebook-3 {
  background-color: #DFE3EE;
}
.facebook-4 {
  background-color: #8B9DC3;
}
.facebook-5 {
  background-color: #3B5998;
}

/* Vladimir Blog */
.vlad-1 {
  background-color: #FFFFFF;
}
.vlad-2 {
  background-color: #FFC600;
}
.vlad-3 {
  background-color: #444444;
}
.vlad-4 {
  background-color: #000000;
}



/* FONTS SECTION */

.font-container {
  display: block;
}

.font-panel {
  width: 45%;
  display: inline-block;
}

.font-label {
  font-size: 20px;
  text-decoration: underline;
}

.light {
  font-weight: 300;
}

.regular {
  font-style: 400;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.text-container {
  display: block;
}

.roboto-condensed {
  font-family: 'Roboto Condensed', sans-serif;
}
.cabin {
  font-family: 'Cabin', sans-serif;
}
.raleway {
  font-family: 'Raleway', sans-serif;
}
.open-sans {
  font-family: 'Open Sans', sans-serif;
}
.playfair {
  font-family: 'Playfair Display', serif;
}
.source-sans {
  font-family: 'Source Sans Pro', sans-serif;
}
.lora {
  font-family: 'Lora', sans-serif;
}
.abril {
  font-family: 'Abril Fatface', cursive;
}
.poppins {
  font-family: 'Poppins', sans-serif;
}



/* TEXT SECTION */

.text-panel {
  margin-top: 20px;
  margin-bottom: 10px;
}

ul {
list-style: none;
}

.text-panel h1 {
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
}

.text-panel h2 {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 0;
}

.text-panel p {
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 0;
}



/* FOOTER AND SCROLL TO TOP */
.fas.fa-heart {
  color: #f75959;
}

footer {
  text-align: center;
  padding-top: 10px;
  background: #FFF;
}

.footer-text a {
  text-decoration: none;
  color: #434343;
}

.footer-text a:hover {
  text-decoration: underline;
  color: #FAB6E5;
}

.footer-1 {
  padding: 0;
}

.footer-2 {
  padding-bottom: 10px;
  margin: 0;
}

.footer-text {
  font-size: 16px;
}

.text-credit {
  font-size: 14px;
  margin: 0;
}
